html 
    head 
        title Users
        link(rel = 'stylesheet' href= '../css/users.css')
        link(href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet")
        link(rel='apple-touch-icon' sizes='180x180' href='/favicon_io/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon_io/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon_io/favicon-16x16.png')
        link(rel='manifest' href='/favicon_io/site.webmanifest') 

    body#users
        include ./header
        #content 
            .main
                ul.users 
                each user in users 
                    li.user 
                        a(href='/users/'+ user._id  class = 'userLink') #{user.username}


